button.choice{
    height: 50px; 
    width: 50px; 
    color:white; 
    background-color: brown;
}

p#correct{
    display: none;
}

p#incorrect{
    display: none;
}

img.coins {
    width :120px;
    height : 120px;
}
