img.coins {
    width :120px;
    height : 120px;
}

.product-area{
    display: flex;
}

.product{
    position: relative;
    width :300px;
    height:300px;
}

img.product-image{
    width:200px;
    height:200px;
}
